encryption: age
age:
  identity: ~/.age/key.txt
  recipient: age1uuxlrftv4lp6pqf85ffcl04uj504m4yf2ydk25fp48ppgjtsx98qhzm8rd

data:
  name: Isaias Piña
  email: iax7@users.noreply.github.com
  signingkey: DAC9D9C180E66CB4
