#!/usr/bin/env zsh
{{ include ".chezmoiscripts/.common" }}

# pacman -Qqen > backup/pacman_native_list
# pacman -Qqem > backup/pacman_aur_list
task "Installing pacman packages..."
AUR=(appimagelauncher carapace-bin lazyrsync yay-bin)
APPS=(
    age
    asciinema
    atomicparsley
    atuin
    baobab
    base
    base-devel
    bat
    bind
    bluez
    bluez-utils
    brave-bin
    btop
    btrfs-progs
    chaotic-keyring
    chaotic-mirrorlist
    chezmoi
    cpufetch
    cups
    cups-pdf
    dconf-editor
    decibels
    dialog
    dnsmasq
    dog
    dosfstools
    duf
    dust
    efibootmgr
    epiphany
    exfatprogs
    eza
    fastfetch
    fd
    ffmpegthumbnailer
    figlet
    fish
    fzf
    gdm
    ghostty
    git
    git-delta
    github-cli
    go-yq
    grc
    gum
    hyperfine
    iwd
    jdk-openjdk
    jujutsu
    just
    kdegraphics-thumbnailers
    lazydocker
    lazygit
    libgda6
    libpulse
    linux
    linux-firmware
    lolcat
    loupe
    lsd
    malcontent
    man-db
    megasync
    mpv
    mtr
    nano
    nautilus
    nautilus-megasync
    ncdu
    neovim
    nethogs
    network-manager-applet
    networkmanager
    nmap
    ntfs-3g
    nvme-cli
    opencode
    opus-tools
    orca
    papers
    perl-image-exiftool
    podman
    ponysay
    progress
    python-pipx
    rate-mirrors
    reflector
    ripgrep
    rsync
    rygel
    showtime
    simple-scan
    smartmontools
    snapper
    snapshot
    socat
    sox
    starship
    stow
    sushi
    syncthing
    tailspin
    tealdeer
    tecla
    thefuck
    tmux
    toilet
    tor
    tree
    ttf-firacode-nerd
    ttf-inconsolata-nerd
    ttf-jetbrains-mono-nerd
    ttf-meslo-nerd
    veracrypt
    vim
    visual-studio-code-bin
    vivid
    vulkan-radeon
    wget
    wl-clipboard
    xh
    yazi
    yelp
    zellij
    zoxide
    zsh
)
sudo pacman -Syu --noconfirm
sudo pacman -S --needed --noconfirm ${APPS[@]}
ok
